.header_main_upper {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    /* identical to box height, or 125% */
    top: 5px;
    display: flex;
    align-items: center !important;
    text-align: center;
    letter-spacing: -0.015em;
    color: #fff;
}