
@import './var.scss';

.link_style {
  text-decoration: none;
}

@mixin languages_choice {
  display: flex;
  flex-direction: column;
  margin: 15px 10px 10px 10px;
}

@mixin language_button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  margin-top: 10px;
  text-align: center;
  line-height: 35px;
}

@mixin language_button_active {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  margin-top: 10px;
  text-align: center;
  line-height: 35px;
  background-color: rgb(96, 52, 199);
}

@mixin typography_medium {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.015em;
  color: #fff;
}

/* Main css */
.top_box{
width: calc(100% - 15px);
height: 1px;
position: absolute;
top:0;
margin-top:5px;
padding: 0;
animation: pulse 4s infinite;
/*background: red;*/
z-index: 999999;
}
.left_box{
  height: calc(100% - 15px);
  width: 1px;
  position: absolute;
  left:0;
  animation: pulse 4s infinite;
  margin-left:5px;  padding: 0;
  /*background: red;*/
  z-index: 999999;
}
.right_box{
  height: calc(100% - 15px);
  width: 1px;
  position: absolute;
  right:0;
  animation: pulse 4s infinite;
  margin-right:5px;padding: 0;
  /*background: red;*/
  z-index: 999999;
}
.bottom_box{
  width: calc(100% - 15px);
  height: 1px;
  position: absolute;
  bottom:0;
  animation: pulse 4s infinite;
  margin-bottom:5px;padding: 0;
  /*background: red;*/
    z-index: 999999;
}

.main_frame {
  background-color: #252837;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .main_flex_container {
    display: flex;
    height: auto;
    margin:auto;
    .left_screen_part {
      display: flex;
      flex-direction: column;
      width: auto;
     /* padding: 0 0 0 100px;*/
      .upper_left{
        display: flex;
        height: 380px;
        .left_panel {
          display: flex;
          width: auto;
          justify-content: space-around;
          .audio_options{
            display: none;
            flex-direction: column;
            /*width: 60%;*/
            margin-left: 10px;
            margin-top: 10px;
            .option {
              display: flex;
              width: 100%;
              height: 30px;
              margin-top: 20px;
              position: relative;
              width: 173px;
              .icon_volume {
                background-image: url($base_path+'/speaker.svg');
                width: 25px;
                height: 25px;
                margin: auto 0 auto 5px;
              }
              .icon_volume_text {
                color: #fff;
                font-weight: 400;
                font-size: 130%;
                width: 90px;
                text-align: right;
              }
              .icon_treble,
              .icon_bass{
                color: #fff;
                font-size: 130%;
                margin: auto 0 auto 5px;
                width: 90px;
                text-align: right;
              }
              .icon_signal {
                background-image: url($base_path+'/signal.svg');
                width: 25px;
                height: 25px;
                margin: auto 0 auto 5px;
              }
              .slider {
                background-image: url($base_path+'/slider.png');
                width: 74px;
                height: 15px;
                margin: 10px 2px 10px 10px;
                position: absolute;
                right:0;
              }
            }
            .circle_timer {
              width: 140px;
              height: 140px;
              margin: 30px 0 0 20px ;
              border: 1px solid #EDDC41;
              box-sizing: border-box;
              border-radius: 100%;
              position: relative;
              .typography_big_yellow{
                width: 93px;
                height: 45px;
                position: absolute;
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 45px;
                /* identical to box height, or 125% */
                top: 45px;
                left: 20px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.015em;

                color: #EDDC41;
              }
            }
          }

          .languages_choice{
            @include languages_choice;
            .typography_medium {
              @include typography_medium;
            }
            .language_button {
              @include language_button;
            }
            .language_button_active {
              @include language_button_active;
            }
          }
        }

 
      }

      .bottom_left {
        display: flex;
        flex-direction: column;
        height: 100%;
        .captions_buttons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .message_language_in_system {
            border: 1px solid #B137A6;
            box-sizing: border-box;
            border-radius: 5px;
            margin: 0 20px 0 0;
          }
          .typography_purple {
            height: 45px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 45px;
            /* identical to box height, or 250% */
            display: flex;
            align-items: center;
            letter-spacing: -0.015em;
            padding: 10px;
            color: #B137A6;
          }
          .floor_auto_relay {
            display: flex;
            flex-direction: column;
            .typography_big{
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 45px;
              /* identical to box height, or 187% */
              display: flex;
              align-items: center;
              letter-spacing: -0.015em;
              color: #fff;
            }
          }
          
          .button_mic {
            background-image:none !important;
            border: 1px solid #fff;
            border-radius:10px;
            color:#fff;
            font-size:13px !important;
            font-weight:700;
            text-align:center;
            line-height:1.7;
            font-family:arial;
            width: 140px;
            cursor: pointer;
            padding: 5px;
            margin: 5px;
          }

          .button_mic_small_width {
            width: 80px !important;
          }

          .button_mic_on {
            background-image:none !important;
            border: 1px solid red;
            background-color: red;
            border-radius:10px;
            color:#fff;
            font-size:13px !important;
            font-weight:700;
            text-align:center;
            line-height:1.7;
            font-family:arial;
            cursor: pointer;
            animation: pulse 4s infinite;
            border-radius: 12px;
            padding: 5px;
            margin: 5px;
          }

          .button_mic_off {
            background-image:none !important;
            border: 1px solid #fff;
            border-radius:10px;
            color:#fff;
            font-size:13px !important;
            font-weight:700;
            text-align:center;
            line-height:1.7;
            font-family:arial;
            cursor: pointer;
            width: 274px;
            height: 63px;
            margin: 11px 5px;
            display: none;
            padding: 5px;
            margin: 5px;
          }

          .button_mute {
            background-image:none !important;
            border: 1px solid #fff;
            border-radius:10px;
            color:#fff;
            font-size:13px !important;
            font-weight:700;
            text-align:center;
            line-height:1.7;
            font-family:arial;
            cursor: pointer;
            padding: 5px;
            margin: 5px;
          }

          .button_mute_on {
            background-image:none !important;
            border: 1px solid red;
            background-color: red;
            border-radius:10px;
            color:#fff;
            font-size:13px !important;
            font-weight:700;
            text-align:center;
            line-height:1.7;
            font-family:arial;
            cursor: pointer;
            animation: pulse 4s infinite;
            border-radius: 12px;
            padding: 5px;
            margin: 5px;
          }
        }
      }
    }
    .right_screen_part {
      display: flex;
      padding: 0 10px 0 0;
      /*width: 35%;*/
      .upper_right {
        display: flex;
        height: 40%;
        margin-left: 10px;
        .languages_choice {
          width: 40%;
          @include languages_choice;
          .language_button{
            @include language_button;
          }
          .language_button_active {
            @include language_button_active;
          }
          .typography_medium{
            @include typography_medium;
          }
        }
        .client_info {
          width: 60%;
          display: flex;
          flex-direction: column;
          position: relative;
          .web_camera {
            position: absolute;
            top: 0;
            right:0;
            margin: 10px 0;
            width: 250px;
            height: 200px;
            background-color: #777;
            .client_name {
              margin: 10px;
              color: #fff;
              position: absolute;
              top: 0;
            }
            .client_mike {
              background-image: url($base_path+'/microphone.svg');
              width: 17px;
              height: 17px;
              position: absolute;
              bottom: 15px;
              left: 15px;
            }
            .client_mike_off {
              background-image: url($base_path+'/microphone_off.svg');
              width: 17px;
              height: 17px;
              position: absolute;
              bottom: 15px;
              left: 15px;
            }
          }
          .name_field {
            position: absolute;
            bottom: 0;
            right:0;
            display: flex;
            margin: 10px 0;
            .caption {
              width: 100px;
              color: #fff;
            }
            .input_field {
              background: #FFFFFF;
              border-radius: 5px;
            }
            .nick_name {
              width: 75px;
              margin-left: 10px;
            }
          }
        }
      }
      .bottom_right {
        display: flex;
        flex-direction: column;
        height: 60%;
        min-width: 200px;
        max-width: 400px;
        width: 100%;
        position: relative;
        .chat_box {
          height: 90%;
          margin: 0;
          
        }
        .chat_buttons {
          display: flex;
          align-items: center;
          margin-left: 0px;
          div {
            margin: auto 10px;
          }
          .take_over {
            background-image: url($base_path + '/take_over.svg');
            width: 100px;
            height: 45px;
          }
          .ok {
            background-image: url($base_path + '/ok.svg');
            width: 40px;
            height: 45px;
          }
          .my_mike_is_on{
            background-image: url($base_path + '/mike.svg');
            width: 129px;
            height: 45px;
          }
          .clear{
            width: 58px;
            height: 45px;
            background-image: url($base_path + '/clear.svg');
          }
        }
      }
    }
  }
}


.partner {
  .client_name {
    color: #fff !important;
  }
}
.message_language_in_system {
  border: 1px solid #B137A6;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 20px 0 0;
}

.typography_purple {
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 45px;
  /* identical to box height, or 250% */
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding: 10px;
  color: #B137A6;
}


.client_mike {
  background-image: url($base_path+'/microphone.svg');
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.client_mike_off {
  background-image: url($base_path+'/microphone_off.svg');
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.client_video {
  background-image: url($base_path+'/video_client.png');
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 12px;
  right: 15px;
}

.client_video_off {
  background-image: url($base_path+'/video_client_off.png');
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 12px;
  right: 15px;
}


.div_image_logo {
  width: 256px;
  height: 256px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.logo_image_center {
  max-width: 100%;
  height: auto;
}

.vol_control{
  max-width: 75px !important;
}
@media screen and (min-width:1545px){
  #langChoice_1  {
    margin: 15px 50px 10px 10px !important;
  }
  .button_mic {
    width: 145px !important;
  }
  .button_mic_on {
    width: 145px !important;
  }
  .button_mic_off {
    width: 145px !important;
  }
}

@media screen and (min-width:1300px){
  #langChoice_1  {
      margin: 15px 80px 10px 10px !important;
  }
  .button_mic {
    width: 145px !important;
  }
  .button_mic_on {
    width: 145px !important;
  }
  .button_mic_off {
    width: 145px !important;
  }
}

@media screen and (max-width:1279px){
  .icon_treble,
  .icon_bass{
    margin: auto 0 !important;
    text-align: left !important;
  }
  .option {
    display: block !important;
    width: 90px !important;
  }

  .slider {
    background-image: url($base_path+'/slider.png');
    margin: 10px 2px !important;
    position: relative !important;
  }
  .bottom_right{
    width:200px !important;
  }
  .central_panel{
    min-width: 400px !important;
  }
}

@media screen and (min-width:1000px){
  #langChoice_1  {
      margin: 15px 100px 10px 10px !important;
  }
  .button_mic {
    width: 145px !important;
  }
  .button_mic_on {
    width: 145px !important;
  }
  .button_mic_off {
    width: 145px !important;
  }
  .name_partner {
    font-size: 12px;
  }
  .name {
    font-size: 12px;
  }
}

@media screen and (min-width:768px){
  #langChoice_1  {
      margin: 15px 120px 10px 10px !important;
    }
  .button_mic {
    width: 100px !important;
  }
  .button_mic_on {
    width: 100px !important;
  }
  .button_mic_off {
    width: 100px !important;
  }
  .name_partner {
    font-size: 11px;
  }
  .name {
    font-size: 11px;
  }
}

@media screen and (min-width:480px){
  #langChoice_1  {
      margin: 15px 120px 10px 10px !important;
    }
  .button_mic {
    width: 100px !important;
  }
  .button_mic_on {
    width: 100px !important;
  }
  .button_mic_off {
    width: 100px !important;
  }
}


.hide_div {
  display: none;
}

.show_hide_chat {
  position: fixed;
  display: flex;
  z-index: 999;
  bottom: 120px;
  width: 64px;
  right: 20px;
  height: 64px;
  background-image: url($base_path+'/chat_icon2.png');
  background-repeat: no-repeat;
  animation: glow 1s infinite alternate;
}

.show_hide_support {
  position: fixed;
  display: flex;
  z-index: 999;
  bottom: 20px;
  width: 64px;
  right: 20px;
  height: 64px;
}

.text_chat {
  margin-left: -180px;
  align-self: center;
  color: #fff;
  font-size: 120%;
  background-color: rgba(0,0,0, 0.6);
  padding: 4px;
  border-radius: 3px;
}

.display_none {
  display: none;
}

.pretty_download_links {
  color: #fff;
  margin: 10px;
  text-align: center;
}

.pretty_download_links>a {
  color: #fff !important;
  text-decoration: none;
}

.small_font {
  font-size: 15px !important;
  padding: 15px;
  margin-right:5px;
}

.video_preview {
  width: 250px;
  height: auto;
  margin-top: 5px;
}

.file_choose {
  background-color: rgba(0,0,0, 0.6);
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  border:1px solid #B137A6;
  border-radius: 10px;
  margin: 5px;
}

.choose_file_button {
  margin: 10px;
}

.list_style{
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  overflow: auto;
  height: 200px; 
  cursor:pointer;
}

.list_style>li {
  padding: 5px;
}

.active_li {
  background-color: #F36C44;
}

.input_youtube {
  margin: 5px;
  height: 15px;
}

.react_player{
  width: auto;
  height: auto ;
  margin: auto;
}

.file_button{
  height: 30px !important;
}

.folder_button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: 3px solid rgb(73, 67, 67);
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}

.big_button {
  align-items: center;
  font-size: 13px;
  font-size: 30px !important;
  line-height: 2.3 !important;
}

.button_mic {
  //background-image: url($base_path+'/mic_transpent-min.png');
  background-image:none !important;
  border: 1px solid #fff;
  border-radius:10px;
  color:#fff;
  font-size:13px !important;
  font-weight:700;
  text-align:center;
  line-height:1.7;
  font-family:arial;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.width_200 {
  width: 200px !important;
}

.red_back {
  background-color: red;
}

.height_100 {
  height: 98vh;
}

.height_85 {
  height: 80%;
}

.height_15 {
  height: 20%;
}

.central_panel {
  display: flex;
  flex-direction: column;
  background: #A7A7A7;
  border-radius: 10px;
  position: relative;
}

.left_panel {
  display: flex;
  width: auto;
  justify-content: space-around;
  position: absolute;
  left: 10px;
}

.partners_webs {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  margin: 10px 0 0 0;
  .partner {
    height: 100%;
    max-height: 10vw;
    position: relative;
    margin-right: 10px;
    border:1px solid #fff;
    border-radius:10px;
    div {
      background-color: transparent !important;
      video {
        border-radius: 10px;
      }           
    }
    .name {
      position: absolute;
      bottom: 10px;
      left: 35px;
      z-index: 10;
      color: #fff;
      background-color: #6034c7 !important;
      border: 2px solid #6034c7 !important;
      border-radius: 5px;
      font-weight: bold;
      font-size: 15px;
    }
    .name_partner {
      position: absolute;
      bottom: 10px;
      left: 35px;
      z-index: 10;
      color: #fff;
      background-color: #F36C44 !important;
      border: 2px solid #F36C44 !important;
      border-radius: 5px;
      font-weight: bold;
      font-size: 15px;
    }
    .name_partner_red {
      animation-duration: 4000ms;
      background-color: red !important;
      border: 2px solid red !important;
    }
    .icon_volume {
      position: absolute;
      background-image: url($base_path+'/speaker_small.svg');
      width: 20px;
      height: 20px;
      bottom: 10px;
      left: 10px;
      z-index: 10;
    }
    .icon_volume_off {
      position: absolute;
      background-image: url($base_path+'/speaker_small_off.svg');
      width: 20px;
      height: 20px;
      bottom: 10px;
      left: 10px;
      z-index: 10;
    }
  }
  .partner:nth-child(even){
    background: transparent;
  }
  .partner:nth-child(odd){
    background: transparent;
  }
}

.captions_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  backdrop-filter: blur(15px);
  background-color: rgba(0,0,0, 0.6);
}

.header_line {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  color: #fff;
  position: absolute;
  z-index: 9999;
  margin-left: 40%;
}

.margin_0 {
  margin: 0 !important;
}

.icon_volume {
  position: absolute;
  background-image: url($base_path+'/speaker_small.svg');
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}
.icon_volume_off {
  position: absolute;
  background-image: url($base_path+'/speaker_small_off.svg');
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}